body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif; 
    color: #ffffff;
}

.header img {
    display: block; 
    width: 318px; 
    margin-left: auto; 
    margin-right: auto;
}

.headera img {
    display: block; 
    width: 318px; 
}

.post-title a {
    color: #ffffff;
}

.article-author { 
    width: 50%; 
    float: left;
}

.article-created-date { 
    text-align: right;
}

input { 
    text-align: center;
    font-family: "Consolas";
    font-weight: 400;
    font-size: large;
}

textarea { 
    text-align: center;
    font-family: "Consolas";
    font-weight: 200;
}
  
.archive .one-post {
    position: relative;
    width: 960px; 
    margin-left: 35%;
    margin-right: auto;
}

  
.allart {
    color: #ffffff;
    text-align: right;
}

.one-post.folded .article-author{
    display: none;
}

.one-post.folded .article-created-date{
    display: none;
}

.one-post.folded .article-text{
    display: none;
}
  
.one-post-shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    z-index: -1;
    opacity: 0;
}
